
@model OdeToFood.Entities.Restaurant

@{
    ViewBag.Title = Model.Name;

}

<h1>@Model.Name</h1>

<div>Id: @Model.Id</div>
<div>
    Cuisine: @Model.Cuisine
</div>
<div>
    <a asp-controller="@nameof(HomeController).Replace("Controller","")" asp-action="@nameof(HomeController.Index)">Back</a>
</div>

